<?php
$this->qc_template_mobile('header');
?>
<link rel="stylesheet" type="text/css" href="{$_W['siteroot']}addons/navlange_pinche/template/style/qc_font/iconfont.css" />
<style>
body{
	background-color: #F3F3F3;
}
.pin{
	margin:10px;
	border-radius:5px;
	border:1px #EFEFEF solid;
	background-color: white;
	padding: 10px 10px 0px 10px;
}
.info_item{
	margin:5px 15px;
	font-size:80%;
}
a:hover {
    text-decoration: none;
}
</style>

<script>
	mui('body').on('tap','a',function(){document.location.href=this.href;});  
</script>
<div id="main_panel">
	<header class="mui-bar mui-bar-nav">
        <a class="mui-icon mui-icon-person mui-pull-left mui-plus-visble" href="javascript:person()"></a>
        <a class="mui-pull-right" style="font-size:14px;height:44px;line-height: 44px" href="{php echo $this->createMobileurl('owner_index')}"><img src="{$_W['siteroot']}addons/navlange_pinche/template/style/img/owner.png" height="20px" width="auto" />司机</a>
        <h1 class="mui-title" style="font-weight: normal"><span class="mui-icon mui-icon-location" style="font-size:16px"></span><span onclick="change_city()">{php echo $this->rtrim_cn($_SESSION['city'],'市');}&nbsp;<i class="fa fa-angle-down"></i></span></h1>
    </header>
    <script>
    function person() {
        $("#travel_release_panel").hide();
        mask.show();
        $("#person_panel").show();
    }
    </script>
    <div id="person_panel" style="position: fixed;width:60%;top:0px;height:100%;background-color: white;z-index: 999;display:none">
        <div style="margin-top:40px;text-align: center">
            <img src="{$_W['fans']['headimgurl']}" width="50px" height="50px" style="border-radius: 40px;border:2px white solid" />
        </div>
        <div style="text-align: center">
            {$_W['fans']['nickname']}
        </div>
        {if $conf['member_on'] == '1' && $member_info['level_id'] > 0}
            <div style="text-align: center;font-size:12px;color:grey" onclick="location.href='{php echo murl('entry', array('m' => 'navlange_member', 'do' => 'index'), true, true);}'">
                {$member_info['level']}
            </div>
        {/if}
        <div style="margin-top:40px">
            <div style="height:40px;margin-left:30px" onclick="location.href='{php echo $this->createMobileurl('my_travel');}'">
                <div style="width:40px;height:40px;text-align: center;padding-top:9px">
                    <img src="{$_W['siteroot']}addons/navlange_pinche/template/style/img/travel.png" height="20px" width="auto" />
                </div>
                <div style="margin:-40px 0px 0px 40px;height:40px;line-height: 40px">
                    行程
                </div>
            </div>
            <div style="height:40px;margin-top:20px;margin-left:30px" onclick="location.href='{php echo $this->createMobileurl('person');}'">
                <div style="width:40px;height:40px;text-align: center;padding-top:9px">
                    <img src="{$_W['siteroot']}addons/navlange_pinche/template/style/img/person_profile.png" height="20px" width="auto" />
                </div>
                <div style="margin:-40px 0px 0px 40px;height:40px;line-height: 40px">
                    乘客中心
                </div>
            </div>
        </div>
    </div>
    <div style="height:44px"></div>
    <div style="padding:3px 10px;background-color: white">
        <div style="height:30px;font-size:12px;margin-right: 40px">
            <marquee direction="up" scrollamount="1" style="height:30px">
                {loop $notice $index $item}
                    <div onclick="location.href='{php echo $this->createMobileurl('notice',array('id'=>$item['id']))}'">
                        <span style="background-color: {$item['color']};color:white">{$item['type']}</span>&nbsp;<span>{$item['title']}</span>
                    </div>
                {/loop}
            </marquee>
        </div>
        <div style="width:40px;height:30px;margin:-30px 0px 0px auto;line-height: 30px;text-align: center;font-size:12px" onclick="location.href='{php echo $this->createMobileurl('notice_list')}'">
            更多...
        </div>
    </div>
    {if $conf['pin_index_advertise_on']=='1'}
    <link rel="stylesheet" href="./resource/components/swiper/swiper.min.css">
    <div class="mui-slider">
        <div class="mui-slider-group mui-slider-loop">
            <div class="mui-slider-item">
                <a href="javascript:page_view('{php echo $advertise_info[count($advertise_info)-1]['url']}',{php echo $advertise_info[count($advertise_info)-1]['advertise_id']})"><img width="100%" height="auto" src="{php echo  tomedia($advertise_info[count($advertise_info)-1]['pic_name'])}" /></a>
            </div>
            {loop $advertise_info $index $item}
            <div class="mui-slider-item">
                <a href="javascript:page_view('{$item['url']}',{$item['advertise_id']})"><img width="100%" height="auto" src="{php echo tomedia($item['pic_name'])}" /></a>
            </div>
            {/loop}
            <div class="mui-slider-item">
                <a href="javascript:page_view('{$advertise_info[0]['url']}',{$advertise_info[0]['advertise_id']})"><img width="100%" height="auto" src="{php echo tomedia($advertise_info[0]['pic_name'])}" /></a>
            </div>
        </div>
        <div class="mui-slider-indicator">   
            {loop $advertise_info $index $item}
                <div class="mui-indicator {if $index==0}mui-active{/if}"></div> 
            {/loop}
        </div>  
    </div>
    <script>
    var gallery = mui('.mui-slider');
    gallery.slider({
        interval:5000//自动轮播周期，若为0则不自动播放，默认为0；
    });

    function page_view(url,adv_id) {
        $.post("{php echo $_W['siteroot'] . 'app/index.php?i=' . $_W['uniacid'] . '&c=entry&do=view&m=navlange_advertise';}",{
                advertise_id:adv_id,
                module_id:{$_W['current_module']['mid']}
            },
            function(resp) {
                resp = $.parseJSON(resp);
                var res = resp.message;
                if(res.errno == 0) {
                    window.location.href=url;
                }
            }
        );
    }
    </script>
    {/if}
    {if $conf['mode_menu_on'] == '1'}
    <style>
    .mui-segmented-control.mui-segmented-control-inverted .mui-control-item {
        border-bottom: 2px white solid;
        color:grey;
    }
    .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
        border-bottom: 2px {$conf['color']} solid;
        color:{$conf['color']};
    }
    </style>
    <div style="margin:0px;background-color: white">
        <div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted" style="height:40px">
            <div id="all_item" class="mui-scroll">
                {if $conf['pin_mode_on'] == '1'}
                <a class="mui-control-item mui-active" href="javascript:void(0)">
                    {$conf['pin_mode_name']}
                </a>
                {/if}
                {if $conf['fast_mode_on'] == '1'}
                <a class="mui-control-item" href="javascript:jump_out('{php echo $this->createMobileurl('fast')}')">
                    {$conf['fast_mode_name']}
                </a>
                {/if}
                {if $conf['charter_mode_on'] == '1'}
                <a class="mui-control-item" href="javascript:jump_out('{php echo $this->createMobileurl('charter')}')">
                    {$conf['charter_mode_name']}
                </a>
                {/if}
                {if $conf['cargo_mode_on'] == '1'}
                <a class="mui-control-item" href="javascript:jump_out('{php echo $this->createMobileurl('cargo')}')">
                    {$conf['cargo_mode_name']}
                </a>
                {/if}
                {if $conf['bus_mode_on'] == '1'}
                <a class="mui-control-item" href="javascript:jump_out('{php echo $this->createMobileurl('bus')}')">
                    {$conf['bus_mode_name']}
                </a>
                {/if}
                {loop $menu $index $item}
                    <a class="mui-control-item" href="javascript:jump_out('{$item['url']}')">
                        {$item['customer_name']}
                    </a>
                {/loop}
            </div>
        </div>
    </div>
    <script>
        mui('.mui-scroll-wrapper').scroll({
            deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
        });
        function jump_out(url) {
            location.href=url;
        }
    </script>
    {/if}
    {if $conf['pin_index_line_on']=='1'}
        <div style="width:100%;height:30px;background-color: white;padding:5px 0px">
            <div style="border-left:3px {$conf['color']} solid;height:20px">
                &nbsp;常用线路
            </div>
            <div style="width:60px;margin:-20px 0px 0px auto">
                <a href="javascript:more_line()">更多>></a>
            </div>
        </div>
        <div style="margin-top:1px;background-color: white">
            {loop $line_info $index $item}
                <div style="font-size: 14px;padding:5px 0px;margin:0px 10px{if $index > 0};border-top:1px #F3F3F3 dashed{/if}" onclick="sel_line('{$item['departure_station']}','{$item['terminal_station']}')">
                    <i class="fa fa-paper-plane"></i>&nbsp;{$item['name']}
                </div>
            {/loop}
        </div>
    {/if}
    <script>
    function sel_line(departure_station,terminal_station) {
        $("#line_panel").hide();
        $("#main_panel").show();
        $("#departure_station").val(departure_station);
        $("#terminal_station").val(terminal_station);
        release_travel();
    }
    function more_line() {
        $.post("{php echo $this->createMobileurl('get_line')}",function(resp) {
                resp = $.parseJSON(resp);
                if(resp.message.errno == 0) {
                    var line = resp.message.message;
                    $("#all_line").html('');
                    for(var i=0; i<line.length; i++) {
                        var html = '<div style="font-size: 14px;padding:5px 0px;margin:0px 10px';
                        if(i>0) {
                            html += ';border-top:1px #F3F3F3 dashed';
                        }
                        html += '" onclick="sel_line(\''+line[i].departure_station+'\',\''+line[i].terminal_station+'\')">'+
                            '<i class="fa fa-paper-plane"></i>&nbsp;'+line[i].name+
                        '</div>';
                        $("#all_line").append(html);
                    }
                    $("#main_panel").hide();
                    $("#line_panel").show();
                }
            }
        );
    }
    </script>
	<div id="travel_release_panel" style="position:fixed;bottom:0px;width:100%;z-index:999">
        <div id="release_btn" style="width:50px;height:90px;padding:5px 0px 5px 5px;background-color: #F3F3F3" onclick="release_travel()">
            <div style="height:80px;line-height: 80px;text-align: center;background-color: white;color:grey;background-color: {$conf['color']};color:white">
                发布
            </div>
        </div>
        <div id="release_panel" style="margin:-90px 0px 0px 50px;padding:5px;background-color: #F3F3F3">
            <div style="background-color: white;height:40px;border-top:1px #F3F3F3 solid">
                <div style="width:30px;height:40px;line-height: 40px;color:#3BBBA2;text-align: center">
                    <i class="fa fa-circle-o"></i>
                </div>
                <div style="height:40px;margin:-40px 0px 0px 30px">
                    {if $conf['pin_departure_station_mode']=='0'}
                    <input id="departure_station" style="width:100%;text-align: center;background-color: transparent;border:0px;border-radius: 0px;height:40px" placeholder="始发站" />
                    {else if $conf['pin_departure_station_mode']=='1'}
                    <input id="departure_station" style="width:100%;text-align: center;background-color: transparent;border:0px;border-radius: 0px;height:40px" readonly="true" onfocus="blur()" placeholder="选择始发站" onclick="sel_departure_station()" />
                    <script>
                        function sel_departure_station() {
                            $("#main_panel").hide();
                            $("#departure_station_panel").show();
                        }
                    </script>
                    {/if}
                </div>
            </div>
            <div style="background-color: white;height:40px;border-top:1px #F3F3F3 solid">
                <div style="width:30px;height:40px;line-height: 40px;color:#FB8641;text-align: center">
                    <i class="fa fa-circle"></i>
                </div>
                <div style="height:40px;margin:-40px 0px 0px 30px">
                    {if $conf['pin_terminal_station_mode']=='0'}
    		        <input id="terminal_station" style="width:100%;text-align: center;background-color: transparent;border:0px;border-radius: 0px;height:40px" placeholder="终点站" />
                    {else if $conf['pin_terminal_station_mode']=='1'}
                    <input id="terminal_station" style="width:100%;text-align: center;background-color: transparent;border:0px;border-radius: 0px;height:40px" readonly="true" onfocus="blur()" placeholder="选择终点站" onclick="sel_terminal_station()" />
                    <script>
                        function sel_terminal_station() {
                            $("#main_panel").hide();
                            $("#terminal_station_panel").show();
                        }
                    </script>
                    {/if}
                </div>
            </div>
            <div id="release_detail" style="display:none">
                <div style="background-color: white;height:40px;border-top:1px #F3F3F3 solid">
                    <div style="width:30px;height:40px;line-height: 40px;color:#a8a8a8;text-align: center">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div style="height:40px;margin:-40px 0px 0px 30px">
                        <input id="date" style="width:100%;text-align: center;background-color: transparent;border:0px;border-radius: 0px;height:40px" readonly="true" onfocus=this.blur()  placeholder="出行时间" />
                    </div>
                </div>
                <div style="background-color: white;height:40px;border-top:1px #F3F3F3 solid">
                    <div style="width:30px;height:40px;line-height: 40px;color:#a8a8a8;text-align: center">
                        <i class="fa fa-user"></i>
                    </div>
                    <div style="height:40px;margin:-40px 0px 0px 30px">
                        <input id="release_name" style="width:100%;text-align: center;background-color: transparent;border:0px;border-radius: 0px;height:40px" value="{$user_info['realname']}" placeholder="姓名" />
                    </div>
                </div>
                <div style="background-color: white;height:40px;border-top:1px #F3F3F3 solid">
                    <div style="width:30px;height:40px;line-height: 40px;color:#a8a8a8;text-align: center">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div style="height:40px;margin:-40px 0px 0px 30px">
                        <input id="release_mobile" style="width:100%;text-align: center;background-color: transparent;border:0px;border-radius: 0px;height:40px" value="{$user_info['mobile']}" placeholder="联系电话" />
                    </div>
                </div>
                <div style="background-color: white;height:40px;border-top:1px #F3F3F3 solid">
                    <div style="width:30px;height:40px;line-height: 40px;color:#a8a8a8;text-align: center">
                        <i class="fa fa-users"></i>
                    </div>
                    <div style="height:40px;margin:-40px 0px 0px 30px">
                        <input id="release_amount" style="width:100%;text-align: center;background-color: transparent;border:0px;border-radius: 0px;height:40px" placeholder="乘客人数" />
                    </div>
                </div>
                <div style="background-color: white;height:40px;border-top:1px #F3F3F3 solid">
                    <div style="width:30px;height:40px;line-height: 40px;color:#a8a8a8;text-align: center">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div style="height:40px;margin:-40px 90px 0px 30px">
                        <input id="release_boarding_place" style="width:100%;text-align: center;background-color: transparent;border:0px;border-radius: 0px;height:40px" placeholder="登车地点" />
                    </div>
                    <div style="height:40px;width:90px;margin:-40px 0px 0px auto;line-height: 40px;border-left:1px #F3F3F3 solid;padding-left: 5px;text-align: center" onclick="sel_boarding_place()" >
                        地图标注
                        <i class="fa fa-angle-right"></i>
                        <input type="hidden" id="release_lng" />
                        <input type="hidden" id="release_lat" />
                    </div>
                </div>
                <div style="background-color: white;height:40px;border-top:1px #F3F3F3 solid">
                    <div style="width:30px;height:40px;line-height: 40px;color:#a8a8a8;text-align: center">
                        <i class="fa fa-cny"></i>
                    </div>
                    <div style="height:40px;margin:-40px 0px 0px 30px">
                        <input id="expected_price" type="number" step="0.01" style="width:100%;text-align: center;background-color: transparent;border:0px;border-radius: 0px;height:40px" placeholder="期望价格" />
                    </div>
                    <div style="width:30px;height:40px;line-height: 40px;margin:-40px 0px 0px auto;color:#a8a8a8;text-align: center">
                        元
                    </div>
                </div>
                <div class="container" style="padding-top:5px">
                    <div class="row">
                        <div class="col-xs-6">
                            <button class="mui-btn mui-btn-block" style="background-color: #a8a8a8;color:white;border:0px" onclick="release_cancel()">取消</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="mui-btn mui-btn-warning mui-btn-block" onclick="release_submit()">发布</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<link rel="stylesheet" href="{$_W['siteroot']}app/resource/components/datepicker/mui.picker.all.css" />
	<script type="text/javascript" src="{$_W['siteroot']}app/resource/components/datepicker/mui.picker.all.js"></script>
	<script>
        function release_travel() {
            mask.show();
            $("#release_btn").hide();
            $("#release_panel").css('margin-left','0px');
            $("#release_detail").show();
            $("#travel_release_panel").css('position','relative');
        }
        $('#departure_station').bind('input propertychange', function() {
            refresh();
        });
		$('#terminal_station').bind('input propertychange', function() {
            refresh();
        });
        $("#date").click(function(){
            var today = new Date();
            var year = today.getFullYear();
            var dtPicker = new mui.DtPicker({
                beginYear: year,//设置开始日期 
                endYear: year+1
            }); 
            dtPicker.show(function (selectItems) { 
                var str_time = selectItems.y.value+"/"+selectItems.m.value+"/"+selectItems.d.value+" "+selectItems.h.value+":"+selectItems.i.value;
                var sel_date = new Date(str_time);
                var timestamp = Date.parse(sel_date);
                var now = Date.parse(today);
                if(timestamp < now) {
                    mui.alert("出行时间已过，请重新选择！");
                } else if (timestamp > ({$conf['max_day_to_release']}*24*60*60*1000+now)) {
                    mui.alert("只能发布{$conf['max_day_to_release']}天以内的拼车，谢谢您的配合！");
                } else {
                    $("#date").val(str_time);
                    refresh();
                }
            })
        })
		function refresh() {
			$.post("{php echo $this->createMobileurl('index',array('op'=>refresh))}",{
					departure_station:$("#departure_station").val(),
					terminal_station:$("#terminal_station").val(),
					date:$("#date").val()
				},
				function(resp) {
					resp = $.parseJSON(resp);
					var data = resp.message.message;
					if(data == '') {
						//mui.alert("无符合条件的拼车！");
						$("#all_pin").html("");
					} else {
						$("#all_pin").html("");
						for(var i=0; i<data.length; i++) {
							var html = '<div id="'+data[i].id+'" class="pin">';
                            if(data[i].is_fixed=='1' && data[i].fixed_expire == '0') {
                                html += '<div style="height:21px;width:50px">'+
                                    '<span class="label label-danger">固定</span>'+
                                '</div>';
                            } else if (data[i].is_stick=='1' && data[i].stick_expire == '0') {
                                html += '<div style="height:21px;width:50px">'+
                                    '<span class="label label-success">置顶</span>'+
                                '</div>';
                            } else {
                                html += '<div style="height:21px;width:50px">'+
                                    
                                '</div>';
                            }
							html +=	'<div style="text-align: center;width: 240px;margin:-21px auto 0px auto">'+data[i].departure_time+'</div>';
                            if(data[i].approved == '1') {
                                html += '<div style="text-align: right;width:50px;margin:-21px 0px 0px auto;height:21px">'+
                                    '<i class="iconfont icon-yirenzheng" style="font-size:30px;color:{$conf['owner_color']}"></i>'+
                                '</div>';
                            }
							html +=	'<div style="width:100%;margin:-10px auto 0px auto">'+
									'<div style="width:50%;padding-right:45px;height:21px;text-align: right">'+
										data[i].departure_station+
									'</div>'+
									'<div style="text-align: center;margin:-21px auto 0px auto;height:21px;width:80px">'+
										'<img src="{$_W['siteroot']}addons/navlange_pinche/template/style/img/arrow.png" height="auto" width="80px" />'+
									'</div>'+
									'<div style="width:50%;padding-left:45px;text-align: left;margin:-21px 0px 0px auto">'+
										data[i].terminal_station+
									'</div>'+
								'</div>'+
								'<div style="clear:both;border-top: 1px #EFEFEF solid"></div>'+
								'<div class="container" style="margin-top:5px">'+
									'<div class="row">'+
										'<div class="col-xs-9" style="color:#EA7F17;padding:0px">'+
											'车型：'+data[i].car_series+
										'</div>'+
										'<div class="col-xs-3" style="text-align: right;color:#EA7F17;padding:0px">'+
											'可乘'+data[i].passenger_count+'人'+
										'</div>'+
									'</div>'+
								'</div>'+
								'<div>'+
                                    '<div style="height:21px;width:100px;margin:0px 0px 0px auto;text-align: right;font-size:12px">'+
                                        '好评率：<span class="label" style="background-color:'+data[i].credit_level.color+'">'+
                                            data[i].credit_level.name+
                                        '</span>'+
                                    '</div>'+
                                    '<div style="margin:-21px 100px 0px 0px">'+
									   '集合地点：'+data[i].boarding_place+
                                    '</div>'+
								'</div>'+
								'<div>'+
                                    '<div style="height:21px;width:80px;margin:0px 0px 0px auto;text-align: right;font-size:14px">'+
                                        '<span class="label label-default" style="color:green;background-color: #E5E5E5" onclick="location.href=\''+'{php echo $this->createMobileurl('comment')}'+'&id='+data[i].owner_id+'\'">'+
                                            '查看评论'+
                                        '</span>'+
                                    '</div>'+
                                    '<div style="margin:-21px 100px 0px 0px">'+
									   '已拼人数：'+'<span id="pin_count_'+data[i].id+'">'+data[i].pin_count+'</span>'+
                                    '</div>'+
								'</div>'+
                                '<div style="border-top: 1px #EFEFEF solid;height:5px"></div>'+
                                '<div style="width:60px;height:44px;line-height: 44px;color:#FB8641;font-size:16px">'+
                                    '<i class="fa fa-cny" style="font-size:12px"></i>'+data[i].price+
                                '</div>'+
                                '<div style="margin:-44px 0px 0px 60px">'+
                                    '<div style="width:200px;margin:0px 0px 0px auto">'+
                                        '<button type="button" class="mui-btn mui-btn-warning mui-btn-block" onclick="pin('+data[i].id+')">我要拼车</button>'+
                                    '</div>'+
                                '</div>'+
							'</div>';
							$("#all_pin").append(html);
						}
					}
				}
			);
		}
	</script>
	{if !empty($pin_info)}
	<div id="all_pin" style="margin-bottom:90px">
		{loop $pin_info $index $vo}
			<div id="{$vo['id']}" class="pin">
                {if $vo['is_fixed']=='1' && $vo['fixed_expire']>time()}
                <div style="height:21px;width:50px">
                    <span class="label label-danger">固定</span>
                </div>
                {else if $vo['is_stick']=='1' && $vo['stick_expire'] > time()}
                <div style="height:21px;width:50px">
                    <span class="label label-success">置顶</span>
                </div>
                {else}
                <div style="height:21px;width:50px">
                    
                </div>
                {/if}
				<div style="text-align: center;width: 240px;margin:-21px auto 0px auto"><?php echo date('m-d H:i',$vo['departure_time']); ?></div>
                <div style="text-align: right;width:50px;margin:-21px 0px 0px auto;height:21px">
                    {if $vo['approved']=='1'}
                        <i class="iconfont icon-yirenzheng" style="font-size:30px;color:{$conf['owner_color']}"></i>
                    {/if}
                </div>
				<div style="width:100%;margin:-10px auto 0px auto">
					<div style="width:50%;padding-right:45px;text-align: right;height:21px">
							{$vo['departure_station']}
					</div>
					<div style="text-align: center;width:80px;margin:-21px auto 0px auto;height:21px">
						<img src="{$_W['siteroot']}addons/navlange_pinche/template/style/img/arrow.png" height="auto" width="80px" />
					</div>
					<div style="width:50%;padding-left:45px;text-align: left;height:21px;margin:-21px 0px 0px auto">
							{$vo['terminal_station']}
					</div>
				</div>
				<div style="clear:both;border-top: 1px #EFEFEF solid"></div>
				<div class="container" style="margin-top:5px">
					<div class="row">
						<div class="col-xs-9" style="color:#EA7F17;padding:0px">
								车型：{$vo['car_series']}
                                {if $conf['car_number_display']=='1'}
                                    {$vo['car_number']}
                                {/if}
						</div>
						<div class="col-xs-3" style="text-align: right;color:#EA7F17;padding:0px">
								可乘{$vo['passenger_count']}人
						</div>
					</div>
				</div>
				<div>
                    <div style="height:21px;width:100px;margin:0px 0px 0px auto;text-align: right;font-size:12px">
                        好评率：<span class="label" style="background-color:{$vo['credit_level']['color']}">{$vo['credit_level']['name']}</span>
                    </div>
                    <div style="margin:-21px 100px 0px 0px">
                        集合地点：{$vo['boarding_place']}
                    </div>
				</div>
				<div>
                    <div style="height:21px;width:80px;margin:0px 0px 0px auto;text-align: right;font-size:14px">
                        <span class="label label-default" style="color:green;background-color: #E5E5E5" onclick="location.href='{php echo $this->createMobileurl('comment',array('id'=>$vo['owner_id']))}'">查看评论</span>
                    </div>
                    <div style="margin:-21px 100px 0px 0px">
					   已拼人数：<span id="pin_count_{$vo['id']}">{$vo['pin_count']}</span>
                    </div>
				</div>
				<div style="border-top: 1px #EFEFEF solid;height:5px"></div>
                <div style="width:70px;height:44px;line-height: 44px;color:#FB8641;font-size:16px">
                    <span style="font-size:12px"><i class="fa fa-cny" style="font-size:12px"></i></span>{$vo['price']}
                </div>
                <div style="margin:-44px 0px 0px 70px">
                    <div style="width:200px;margin:0px 0px 0px auto">
                        <button type="button" class="mui-btn mui-btn-warning mui-btn-block" onclick="pin({$vo['id']})">我要拼车</button>
                    </div>
                </div>
			</div>
		{/loop}
	</div>
	{else}
		<div style="width:220px;margin:40px auto">
			<div style="width:90px;height:80px">
				<img src="{$_W['siteroot']}addons/navlange_pinche/template/style/img/empty_order.png" width="80px" height="80px" />
			</div>
			<div style="margin:-80px 0px 0px 90px;padding-top:30px">
				暂无合适的出车！
			</div>
		</div>
	{/if}
	<div id="register" style="padding:10px;display:none;position: fixed;top:40%;width:100%;z-index:999">
		<form class="mui-input-group" action="" method="POST" style="z-index:999">
		    <div class="mui-input-row">
                <div style="width:80px;height:40px;line-height: 40px;padding-left:15px;font-weight: bold">
                    姓名
                </div>
                <div style="margin:-40px 0px 0px 80px;height:40px">
		    	    <input type="text" id="name" name="name" value="{$user_info['realname']}" class="mui-input-clear" placeholder="请输入姓名">
                </div>
		    </div>
		    <div class="mui-input-row">
                <div style="width:80px;height:40px;line-height: 40px;padding-left:15px;font-weight: bold">
                    联系电话
                </div>
                <div style="margin:-40px 0px 0px 80px;height:40px">
		            <input type="number" id="mobile" name="mobile" value="{$user_info['mobile']}" class="mui-input-clear" placeholder="请输入联系电话">
                </div>
		    </div>
		    <div class="mui-input-row">
                <div style="width:80px;height:40px;line-height: 40px;padding-left:15px;font-weight: bold">
                    人数
                </div>
                <div style="margin:-40px 0px 0px 80px;height:40px">
		            <input type="number" id="amount" name="amount" value="1" class="mui-input-clear" placeholder="请输入人数">
                </div>
		    </div>
		    <div class="mui-input-row">
                <div style="width:80px;height:40px;line-height: 40px;padding-left:15px;font-weight: bold">
                    登车地点
                </div>
                <div style="margin:-40px 90px 0px 80px;height:40px">
		            <input type="text" id="boarding_place" name="boarding_place" class="mui-input-clear" placeholder="请输入上车地点" >
                </div>
                <div style="height:40px;width:90px;margin:-40px 0px 0px auto;line-height: 40px;border-left:1px #F3F3F3 solid;padding-left: 5px;text-align: center" onclick="sel_boarding_place()" >
                    地图标注
                    <i class="fa fa-angle-right"></i>
                    <input type="hidden" id="lng" />
                    <input type="hidden" id="lat" />
                </div>
		    </div>
		    <div class="mui-button-row">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <button type="button" class="mui-btn mui-btn-danger mui-btn-block" style="font-size:16px;padding:6px;background-color: #a8a8a8;color:white;border:0px" onclick="pin_cancel()">取消</button>
                        </div>
                        <div class="col-xs-6">
                            <button type="button" class="mui-btn mui-btn-primary mui-btn-block" style="font-size:16px;padding:6px;background-color: {$conf['color']};color:white;border:0px" onclick="pin_submit()">确认</button>
                        </div>
                    </div>
                </div>
		    </div>
		</form>
	</div>
	<style>
	.nav_item {
		color:grey;
		text-align: center
	}
	.nav_item_active {
		color:{$conf['color']};
	}
	</style>
	<script>
	var mask = mui.createMask(function(event){
        $("#register").hide();
        $("#travel_release_panel").show();
        $("#release_btn").show();
        $("#release_panel").css('margin-left','50px');
        $("#release_detail").hide();
        $("#person_panel").hide();
        $("#travel_release_panel").css('position','fixed');
    });//callback为用户点击蒙版时自动执行的回调；;
	var pin_id;
	function release_cancel() {
        mask.close();
		$("#release_btn").show();
        $("#release_panel").css('margin-left','50px');
        $("#release_detail").hide();
        $("#travel_release_panel").css('position','fixed');
	}
	function release_submit() {
		if($("#departure_station").val()=="") {
			alert("请输入出发站点！");
			$("#departure_station").focus();
		} else if($("#terminal_station").val()=="") {
			alert("请输入目的站点！");
			$("#terminal_station").focus();
		} else if($("#date").val()=="") {
			alert("请选择出行时间！");
			$("#date").focus();
		} else if($("#release_name").val()=="") {
			alert("请输入您的姓名！");
			$("#release_name").focus();
		} else if($("#release_mobile").val()=="") {
			alert("请输入您的联系电话！");
			$("#release_mobile").focus();
		} else if($("#release_amount").val()=="") {
			alert("请输入乘车人数！");
			$("#release_amount").focus();
		} else if($("#release_boarding_place").val()=="") {
			alert("请输入登车地点！");
			$("#release_boarding_place").focus();
		} else {
			$.post("{php echo $this->createMobileurl('index',array('op'=>'release_travel'))}",{
					departure_station:$("#departure_station").val(),
					terminal_station:$("#terminal_station").val(),
					departure_time:$("#date").val(),
					name:$("#release_name").val(),
					mobile:$("#release_mobile").val(),
					amount:$("#release_amount").val(),
					boarding_place:$("#release_boarding_place").val(),
                    lng:$("#release_lng").val(),
                    lat:$("#release_lat").val(),
                    expected_price:$("#expected_price").val()
				},function(resp) {
					resp = $.parseJSON(resp);
					if(resp.message.errno == '0') {
						mui.alert("发布成功！");
						location.href="{php echo $this->createMobileurl('my_travel')}";
					}
				}
			);
		}
	}
	function pin(id) {
        $("#travel_release_panel").hide();
		$.post("{php echo $this->createMobileurl('index',array('op'=>'pin_check'));}",{
				id:id
			},function(resp) {
				resp = $.parseJSON(resp);
				if(resp.message.errno == '1') {
					alert("您已拼过该车，请不要重复拼车！");
                    $("#travel_release_panel").show();
				} else if (resp.message.errno == '2') {
					alert("该车已拼满！");
                    $("#travel_release_panel").show();
				} else if (resp.message.errno == '3') {
					alert("您是车主，不能参与自己发布的拼车！");
                    $("#travel_release_panel").show();
				} else {
					pin_id = id;
					mask.show();//显示遮罩
					$("#register").show();
				}
			}
		);
	}
	function pin_submit() {
        if($("#name").val() == "") {
            alert("请输入姓名！");
            $("#name").focus();
        } else if ($("#mobile").val() == "") {
            alert("请输入联系电话！");
            $("#mobile").focus();
        } else if ($("#amount").val() == "") {
            alert("请输入拼车人数！");
            $("#amount").focus();
        } else if ($("#boarding_place").val() == "") {
            alert("请输入登车地点！");
            $("#boarding_place").focus();
        } else {
            $.post("{php echo $this->createMobileurl('index',array('op'=>'pin'));}",{
                    id:pin_id,
                    name:$("#name").val(),
                    mobile:$("#mobile").val(),
                    amount:$("#amount").val(),
                    boarding_place:$("#boarding_place").val(),
                    lng:$("#lng").val(),
                    lat:$("#lat").val()
                },
                function(resp) {
                    mask.close();//显示遮罩
                    $("#register").hide();
                    resp = $.parseJSON(resp);
                    if(resp.message.errno == '1') {
                        alert("您已拼过该车，请不要重复拼车！");
                        $("#travel_release_panel").show();
                    } else if (resp.message.errno == '2') {
                        alert("该车已拼满！");
                        $("#travel_release_panel").show();
                    } else {
                        var reply = resp.message.message;
                        location.href="{php echo $this->createMobileurl('confirm')}"+"&id="+reply.id;
                    }
                }
            );
        }
	}
	function pin_cancel() {
		$("#register").hide();
        $("#travel_release_panel").show();
		mask.close();
	}
	</script>
</div>

<script>
    function change_city() {
        $("#main_panel").hide();
        $("#city_panel").show();
    }
</script>
<style>
    .city_item {
        height:40px;
        line-height: 40px;
        background-color: white;
        padding:0px 10px;
    }
</style>
<div id="city_panel" style="background-color: {$conf['bg_color']};display:none">
    <header class="mui-bar mui-bar-nav">
        <a class="mui-icon mui-icon-left-nav mui-pull-left" href="javascript:cancel_city_select()"></a>
        <h1 class="mui-title">选择城市</h1>
    </header>
    <script type="text/javascript">
        function cancel_city_select() {
            $("#city_panel").hide();
            $("#main_panel").show();
        }
    </script>
    <div style="position: fixed;top:0px;right:0px;width:30px;height:100%;text-align: center;background:rgba(0, 0, 0, 0.1)!important;filter:Alpha(opacity=10); background:#000;z-index: 2;padding-top: 100px;color:grey">
        {loop $all_city $index $item}
            <div>{$item['alphabetical_index']}</div>
        {/loop}
    </div>
    <div style="height:60px"></div>
    <div style="height:40px;line-height: 40px;background-color: white;padding:0px 10px">
        <span style="color:grey">当前城市：</span>
        <span id="step_2_cur_city">{php echo $this->rtrim_cn($_SESSION['city'],'市');}</span>
    </div>
    {loop $all_city $index $item}
        <div style="height:40px;line-height: 40px;padding:0px 10px;color:grey">{$item['alphabetical_index']}</div>
        {loop $item['city'] $i $city}
            <div class="city_item" onclick="sel_city({$city['id']},'{$city['city']}')">
                {php echo $this->rtrim_cn($city['city'],'市');}
            </div>
        {/loop}
    {/loop}
</div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=gCF3WxqfpdvaRxciR9m1Nm7lbgEwXrky"></script>
<script src="{$_W['siteroot']}addons/navlange_pinche/template/style/js/location_convertor.js"></script>
<script>
var center;
var map;
var marker;// 创建标注
wx.config(jssdkconfig);
wx.ready(function(){
    wx.getLocation({
        type: 'gcj02', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
        success: function (res) {
            $("#map_container").css('width',window.screen.width);
            $("#map_container").css('height',window.screen.height);
            var cur_latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
            var cur_longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
            $("#release_lng").val(cur_longitude);
            $("#release_lat").val(cur_latitude);
            $("#lng").val(cur_longitude);
            $("#lat").val(cur_latitude);
            var bd_point = gcj02tobd09(cur_longitude,cur_latitude);
            var gpsPoint = new BMap.Point(bd_point[0], bd_point[1]);
            get_position(gpsPoint);
        }
    });     
});
function get_position(point) {
    center = point;
    var geoc = new BMap.Geocoder();
    geoc.getLocation(point, function(rs){
        var addComp = rs.addressComponents;
        $("#release_boarding_place").val(addComp.street + addComp.streetNumber);
        $("#boarding_place").val(addComp.street + addComp.streetNumber);
    })
}
function sel_boarding_place() {
    $("#main_panel").hide();
    $("#district_panel").show();
    map = new BMap.Map("map_container");
    marker = new BMap.Marker(center);// 创建标注
    map.centerAndZoom(center, 13);
    map.addOverlay(marker);             // 将标注添加到地图中
    marker.enableDragging();
    marker.addEventListener("dragend",function(e){
        center = new BMap.Point(e.point.lng,e.point.lat);
        var geoc = new BMap.Geocoder();
        geoc.getLocation(center, function(rs){
            var addComp = rs.addressComponents;
            $("#release_boarding_place").val(addComp.street + addComp.streetNumber);
            $("#boarding_place").val(addComp.street + addComp.streetNumber);
            var gcj_point = bd09togcj02(e.point.lng,e.point.lat);
            $("#release_lng").val(gcj_point[0]);
            $("#release_lat").val(gcj_point[1]);
            $("#lng").val(gcj_point[0]);
            $("#lat").val(gcj_point[1]);
        });    
    })
}
function theLocation(){
    if($("#search_address").val() == "") {
        alert("请输入要搜索的地名！");
    } else {  
        var local = new BMap.LocalSearch(map, {
            onSearchComplete:function(res) {
                center = res.getPoi(0).point;
                var gcj_point = bd09togcj02(center.lng,center.lat);
                $("#release_lng").val(gcj_point[0]);
                $("#release_lat").val(gcj_point[1]);
                $("#lng").val(gcj_point[0]);
                $("#lat").val(gcj_point[1]);
                map.centerAndZoom(res.getPoi(0).point, 13);
                marker.setPosition(res.getPoi(0).point);
                var geoc = new BMap.Geocoder();
                geoc.getLocation(res.getPoi(0).point, function(rs){
                    var addComp = rs.addressComponents;
                    $("#release_boarding_place").val(addComp.street + addComp.streetNumber);
                    $("#boarding_place").val(addComp.street + addComp.streetNumber);
                })
            }
        });
        local.search($("#search_address").val());
    }
}

$(function(){
    var win_height = document.body.clientHeight;
    $("#city_panel").css('min-height',win_height);
})
function sel_city(id,city) {
    location.href="{php echo $this->createMobileurl('index')}"+"&city="+id;
}
String.prototype.trim = function (char, type) {
    if (char) {
        if (type == 'left') {
            return this.replace(new RegExp('^\\'+char+'+', 'g'), '');
        } else if (type == 'right') {
            return this.replace(new RegExp('\\'+char+'+$', 'g'), '');
        }
        return this.replace(new RegExp('^\\'+char+'+|\\'+char+'+$', 'g'), '');
    }
    return this.replace(/^\s+|\s+$/g, '');
};
</script>

<div id="district_panel" style="width:100%;height:100%;display:none;z-index: 999;position: fixed;">
    <div id="map_container" style="position: fixed;width:100%;height:100%;top:0px">

    </div>
    <div style="position: fixed;top:10px;width:100%;">
        <div style="margin:0px 10px">
            <div class="input-group">
                <input id="search_address" class="form-control" placeholder="请输入地址">
                <span class="input-group-addon" onclick="theLocation()"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
    <div style="position: fixed;bottom:0px;width:100%;text-align: center;background:rgba(0, 0, 0, 0.6)!important;filter:Alpha(opacity=60); background:#000;padding:5px;color:white">
        <div class="container">
            <div class="row">
                <div class="col-xs-8" style="text-align: left;line-height: 33px">
                    精确地图标注有助于司机找到您！
                </div>
                <div class="col-xs-4" style="text-align: right">
                    <button class="mui-btn mui-btn-warning" onclick="sel_address_confirm()">选取</button>
                </div>
            </div>              
        </div>
    </div>
</div>
<script>
    function sel_address_confirm() {
        $('#district_panel').hide();
        $("#main_panel").show();
        tankuang(200,'地图标注成功！');
    }
</script>

{if $conf['pin_departure_station_mode']=='1'}
<div id="departure_station_panel" style="display:none;z-index:999;position: fixed;top:0px;min-height: 100%;width:100%;background-color: white">
    <header class="mui-bar mui-bar-nav">
        <a class="mui-icon mui-icon-arrowleft" href="javascript:cancel_departure_station_sel()"></a>
        <h1 class="mui-title">选择出发站</h1>
    </header>
    <div style="height:50px"></div>
    <div>
        {loop $departure_station $index $item}
            <div style="margin:5px 10px;border:1px grey solid;border-radius: 3px;padding:5px" onclick="sel_departure_station_confirm('{$item['name']}')">
                <span class="mui-icon mui-icon-checkmarkempty"></span>&nbsp;{$item['name']}
            </div>
        {/loop}
    </div>
</div>
<script>
function cancel_departure_station_sel() {
    $("#departure_station_panel").hide();
    $("#main_panel").show();
}
function sel_departure_station_confirm(name) {
    $("#departure_station").val(name);
    $("#departure_station_panel").hide();
    $("#main_panel").show();
}
</script>
{/if}

{if $conf['pin_terminal_station_mode']=='1'}
<div id="terminal_station_panel" style="display:none;z-index:999;position: fixed;top:0px;min-height: 100%;width:100%;background-color: white">
    <header class="mui-bar mui-bar-nav">
        <a class="mui-icon mui-icon-arrowleft" href="javascript:cancel_terminal_station_sel()"></a>
        <h1 class="mui-title">选择终点站</h1>
    </header>
    <div style="height:50px"></div>
    <div>
        {loop $terminal_station $index $item}
            <div style="margin:5px 10px;border:1px grey solid;border-radius: 3px;padding:5px" onclick="sel_terminal_station_confirm('{$item['name']}')">
                <span class="mui-icon mui-icon-checkmarkempty"></span>&nbsp;{$item['name']}
            </div>
        {/loop}
    </div>
</div>
<script>
function cancel_terminal_station_sel() {
    $("#terminal_station_panel").hide();
    $("#main_panel").show();
}
function sel_terminal_station_confirm(name) {
    $("#terminal_station").val(name);
    $("#terminal_station_panel").hide();
    $("#main_panel").show();
}
</script>
{/if}
{if $conf['pin_index_line_on']=='1'}
<div id="line_panel" style="background-color: {$conf['bg_color']};display:none">
    <header class="mui-bar mui-bar-nav">
        <a class="mui-icon mui-icon-left-nav mui-pull-left" href="javascript:cancel_line_select()"></a>
        <h1 class="mui-title">选择线路</h1>
    </header>
    <div style="height:50px"></div>
    <div id="all_line" style="background-color:white"></div>
</div>
<script>
function cancel_line_select() {
    $("#line_panel").hide();
    $("#main_panel").show();
}
</script>
{/if}
<script>
function tankuang(pWidth,content) {    
    $("#msg").remove();
    var html ='<div id="msg" style="position:fixed;bottom:30px;width:100%;height:30px;line-height:30px;margin-top:-15px;z-index:1000"><p style="background:#000;opacity:0.8;width:'+ pWidth +'px;color:#fff;text-align:center;padding:10px 10px;margin:0 auto;font-size:12px;border-radius:4px;">'+ content +'</p></div>'
    $("body").append(html);
    var t=setTimeout(next,2000);
    function next() {
        $("#msg").remove();
    }
}
</script>