<?php
$this->qc_template_mobile('header');
?>
<link rel="stylesheet" type="text/css" href="{$_W['siteroot']}addons/navlange_pinche/template/style/qc_font/iconfont.css?v=3" />
<link rel="stylesheet" href="{$_W['siteroot']}app/resource/components/datepicker/mui.picker.all.css" />
<script type="text/javascript" src="{$_W['siteroot']}app/resource/components/datepicker/mui.picker.all.js"></script>
<style>
    body {
        background-color:#F3F3F3;
    }
    .mui-bar-tab .mui-tab-item.mui-active {
        color: {$conf['color']};
    }
    a:hover {
        text-decoration: none
    }

    .item {
        margin:0px 10px;
        border:1px #E0E0E0 solid;
        padding:8px 5px;
        font-size:12px;
    }
    .item_border_top_0 {
        border-top:0px;
    }
    .item_content {
        height:20px;
    }
    .item_1 {
        color: grey;
        border-right:1px #E0E0E0 solid;
        width:60px;
        line-height: 20px
    }
    .item_2_0 {
        position: relative;
        top:-20px;
        margin-left:60px;
        margin-right:40px;
    }
    .item_2_1 {
        position: relative;
        top:-20px;
        margin-left:60px;
    }
    .item_2_2 {
        position: relative;
        top:-20px;
        margin-left:60px;
        margin-right:70px;
    }
    .item_3_0 {
        position: relative;
        top:-40px;
        margin:0px 0px 0px auto;
        width:40px;
        text-align: right;
        margin-right:10px;
        line-height: 20px
    }
    .item_3_1 {
        position: relative;
        top:-40px;
        margin:0px 0px 0px auto;
        width:70px;
        line-height: 20px;
        border-left:1px #E0E0E0 solid;
        padding-left:5px;
    }
</style>
<script>
    mui('body').on('tap','a',function(){document.location.href=this.href;}); 
</script>
<div id="main_panel">
    <header class="mui-bar mui-bar-nav">
        <a class="mui-icon mui-icon-arrowleft mui-pull-left mui-plus-visble" href="javascript:history.go(-1)"></a>
        <h1 class="mui-title">编辑行程</h1>
    </header>
    <div style="background-color: white;height:40px;border-top:1px #F3F3F3 solid;margin-top:40px">
        <div style="width:30px;height:40px;line-height: 40px;color:#3BBBA2;text-align: center">
            <i class="fa fa-circle-o"></i>
        </div>
        <div style="height:40px;margin:-40px 0px 0px 30px">
            <input id="departure_station" style="width:100%;text-align: center;background-color: transparent;border:0px;border-radius: 0px;height:40px" value="{php echo $this->rtrim_cn($pin['departure_city'],'市')}-{$pin['departure_station']}" placeholder="出发地" onfocus="blur()" onclick="sel_departure_place()" />
            <input type="hidden" id="lng" value="{$pin['lng']}" />
            <input type="hidden" id="lat" value="{$pin['lat']}" />
        </div>
    </div>
    <div style="background-color: white;height:40px;border-top:1px #F3F3F3 solid">
        <div style="width:30px;height:40px;line-height: 40px;color:#FB8641;text-align: center">
            <i class="fa fa-circle"></i>
        </div>
        <div style="height:40px;margin:-40px 0px 0px 30px">
            {if $conf['pin_terminal_station_mode']=='0'}
            <input id="terminal_station" style="width:100%;text-align: center;background-color: transparent;border:0px;border-radius: 0px;height:40px" value="{php echo $this->rtrim_cn($pin['terminal_city'],'市')}-{$pin['terminal_station']}" placeholder="目的地" onfocus="blur()" onclick="sel_terminal_place()" />
            {else if $conf['pin_terminal_station_mode']=='1'}
            <input id="terminal_station" style="width:100%;text-align: center;background-color: transparent;border:0px;border-radius: 0px;height:40px" readonly="true" onfocus="blur()" placeholder="选择目的地" onclick="sel_terminal_station()" />
            <script>
                function sel_terminal_station() {
                    $("#main_panel").hide();
                    $("#terminal_station_panel").show();
                }
            </script>
            {/if}
        </div>
    </div>
    <div style="background-color:white;height:50px;border-top:1px #F3F3F3 solid">
        <div style="width:60px;height:50px;line-height: 50px;text-align:center;font-size:16px;color:grey">
            途径：
        </div>
        <div style="margin:-50px 0px 0px 60px;height:50px">
            <input id="stations" value="{$pin['stations']}" style="width:100%;background-color: transparent;border:0px;border-radius: 0px;height:50px" placeholder="请输入中途经过的地址，多个地址请用,逗号隔开" />
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-6" style="padding:0px;border-right: 1px #F3F3F3 solid">
                <div style="background-color: white;height:40px;border-top:1px #F3F3F3 solid">
                    <div style="width:30px;height:40px;line-height: 40px;color:#a8a8a8;text-align: center">
                        <i class="fa fa-circle-o"></i>
                    </div>
                    <div style="height:40px;margin:-40px 0px 0px 30px">
                        <input id="passenger_count" value="{$pin['passenger_count']}" type="number" readonly="true" onfocus="blur()" onclick="sel_release_amount()" style="width:100%;text-align: center;background-color: transparent;border:0px;border-radius: 0px;height:40px" placeholder="座位数" />
                    </div>
                </div>
            </div>
            <div class="col-xs-6" style="padding:0px">
                <div style="background-color: white;height:40px;border-top:1px #F3F3F3 solid">
                    <div style="width:30px;height:40px;line-height: 40px;color:#a8a8a8;text-align: center">
                        <i class="fa fa-circle-o"></i>
                    </div>
                    <div style="height:40px;margin:-40px 0px 0px 30px">
                        <input id="departure_time" value="{php echo date('Y/m/d H:i',$pin['departure_time'])}" style="width:100%;text-align: center;background-color: transparent;border:0px;border-radius: 0px;height:40px" readonly="true" onfocus=this.blur()  placeholder="出行时间" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-6" style="padding:0px;border-right: 1px #F3F3F3 solid">
                <div style="background-color: white;height:40px;border-top:1px #F3F3F3 solid">
                    <div style="width:30px;height:40px;line-height: 40px;color:#a8a8a8;text-align: center">
                        <i class="fa fa-circle-o"></i>
                    </div>
                    <div style="height:40px;margin:-40px 0px 0px 30px">
                        <input id="note" readonly="true" onfocus="blur()" onclick="sel_note()" value="{$pin['note']}" style="width:100%;text-align: center;background-color: transparent;border:0px;border-radius: 0px;height:40px" placeholder="出行服务" />
                    </div>
                </div>
            </div>
            <div class="col-xs-6" style="padding:0px">
                <div style="background-color: white;height:40px;border-top:1px #F3F3F3 solid">
                    <div style="width:30px;height:40px;line-height: 40px;color:#a8a8a8;text-align: center">
                        <i class="fa fa-circle-o"></i>
                    </div>
                    <div style="height:40px;margin:-40px 0px 0px 40px">
                        <input id="price" type="number" step="0.01" style="width:100%;text-align: center;background-color: transparent;border:0px;border-radius: 0px;height:40px" value="{$pin['price']}" placeholder="价格" />
                    </div>
                    <div style="width:40px;height:40px;line-height: 40px;margin:-40px 0px 0px auto;color:#a8a8a8;text-align: center">
                        元/人
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="note_panel" style="position: fixed;bottom:50px;min-height:200px;width:100%;background-color:white;padding:5px;display:none">
        <div style="border-bottom:1px #F3F3F3 solid">
            <div style="width:60px;height:40px">
                <button class="mui-btn mui-btn-xs" onclick="cancel_note()">取消</button>
            </div>
            <div style="margin:-40px 60px 0px 60px;height:40px;line-height: 40px;text-align: center">
                <label>出行服务</label>
            </div>
            <div style="width:60px;height:40px;margin:-40px 0px 0px auto">
                <button class="mui-btn mui-btn-xs mui-btn-success" onclick="confirm_note()">确认</button>
            </div>
        </div>
        <div style="padding-top:10px">
            <div style="text-align: center;padding:10px">
                <i class="iconfont icon-tixing"></i>填写下列信息，方便乘客与你沟通！
            </div>
            {loop $note_template_list $index $item}
                <button id="note_{$item['id']}" class="mui-btn mui-btn-default" onclick="change_note_status({$item['id']},'{$item['content']}')">{$item['content']}</button>
            {/loop}
        </div>
    </div>
    <div style="padding:10px">
        <button class="mui-btn mui-btn-warning mui-btn-block" onclick="release_submit()">确认修改</button>
    </div>
</div>
<div style="height:50px"></div>
<script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp"></script>
<script type="text/javascript" src="{$_W['siteroot']}addons/navlange_pinche/template/style/js/array.js"></script>
<script type="text/javascript">
    String.prototype.trim = function (char, type) {
        if (char) {
            if (type == 'left') {
                return this.replace(new RegExp('^\\'+char+'+', 'g'), '');
            } else if (type == 'right') {
                return this.replace(new RegExp('\\'+char+'+$', 'g'), '');
            }
            return this.replace(new RegExp('^\\'+char+'+|\\'+char+'+$', 'g'), '');
        }
        return this.replace(/^\s+|\s+$/g, '');
    };
    var departure_station = '{$pin['departure_station']}';
    var departure_city = '{$pin['departure_city']}';
    var terminal_station = '{$pin['terminal_station']}';
    var terminal_city = '{$pin['terminal_city']}';
    Date.prototype.format = function(format) {
        var date = {
            "M+": this.getMonth() + 1,
            "d+": this.getDate(),
            "h+": this.getHours(),
            "m+": this.getMinutes(),
            "s+": this.getSeconds(),
            "q+": Math.floor((this.getMonth() + 3) / 3),
            "S+": this.getMilliseconds()
        };
        if (/(y+)/i.test(format)) {
            format = format.replace(RegExp.$1, (this.getFullYear() + '').substr(4 - RegExp.$1.length));
        }
        for (var k in date) {
            if (new RegExp("(" + k + ")").test(format)) {
                format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? date[k] : ("00" + date[k]).substr(("" + date[k]).length));
            }
        }
        return format;
    }
    var passenger_count_picker = new mui.PopPicker();
    passenger_count_picker.setData([{value:'1',text:'1座'},{value:'2',text:'2座'},{value:'3',text:'3座'},{value:'4',text:'4座'},{value:'5',text:'5座'},{value:'6',text:'6座'}]);
    function sel_release_amount() {
        passenger_count_picker.show(function (selectItems) {
            $("#passenger_count").val(selectItems[0].value);
        })
    }
    $("#departure_time").click(function(){
        var today = new Date();
        var year = today.getFullYear();
        var start = Date.parse(today)+30*60*1000;
        var start_d = new Date(start);
        var dtPicker = new mui.DtPicker({
            beginYear: year,//设置开始日期 
            endYear: year+1,
            value:start_d.format('yyyy-MM-dd h:m')
        }); 
        dtPicker.show(function (selectItems) { 
            var str_time = selectItems.y.value+"/"+selectItems.m.value+"/"+selectItems.d.value+" "+selectItems.h.value+":"+selectItems.i.value;
            var sel_date = new Date(str_time);
            var timestamp = Date.parse(sel_date);
            var now = Date.parse(today);
            if(timestamp < now) {
                mui.alert("出行时间已过，请重新选择！");
            } else if (timestamp > ({$conf['max_day_to_release']}*24*60*60*1000+now)) {
                mui.alert("只能发布{$conf['max_day_to_release']}天以内的拼车，谢谢您的配合！");
            } else {
                $("#departure_time").val(str_time);
            }
        })
    })
    var selected_notes = new Array();
    function sel_note() {
        $("#note_panel").show();
    }
    function change_note_status(id,content) {
        if(in_array(selected_notes,content)) {
            removeByValue(selected_notes,content);
            $("#note_"+id).removeClass('mui-btn-warning');
        } else {
            selected_notes.push(content);
            $("#note_"+id).addClass('mui-btn-warning');
        }
    }
    function confirm_note() {
        var html = '';
        for(var i=0;i<selected_notes.length; i++) {
            if(i > 0) {
                html += ';';
            }
            html += selected_notes[i];
        }
        $("#note").val(html);
        cancel_note();
    }
    function cancel_note() {
        $("#note_panel").hide();
    }
    function release_submit() {
        if($("#departure_station").val() == '') {
            alert("请输入出发站！");
            $("#departure_station").focus();
        } else if($("#terminal_station").val() == '') {
            alert("请输入目的站！");
            $("#terminal_station").focus();
        } else if($("#passenger_count").val() == '') {
            alert("请输入可乘人数！");
            $("#passenger_count").focus();
        } else if($("#departure_time").val() == '') {
            alert("请选择出发时间！");
            $("#departure_time").focus();
        } else {
            $.post("{php echo $this->createMobileurl('edit_pin_submit')}",{
                    id:{$_GPC['id']},
                    departure_station:departure_station,
                    departure_city:departure_city,
                    terminal_station:terminal_station,
                    terminal_city:terminal_city,
                    passenger_count: $("#passenger_count").val(),
                    departure_time: $("#departure_time").val(),
                    lng:$("#lng").val(),
                    lat:$("#lat").val(),
                    price: $("#price").val(),
                    note: $("#note").val(),
                    stations:$("#stations").val()
                },function(resp) {
                    resp = $.parseJSON(resp);
                    if(resp.message.errno == '0') {
                        mui.alert("修改成功！",function(){
                            location.href="{php echo $this->createMobileurl('travel_index')}&departure_station="+departure_station+"&terminal_station="+terminal_station;
                        })
                    } else {
                        mui.alert("修改失败！");
                    }
                }
            );
        }
    }
</script>

<iframe id="mapPage" width="100%" height="100%" frameborder=0 
    src="https://apis.map.qq.com/tools/locpicker?search=1&type=1&key=7G4BZ-JFT3X-5TQ4M-ZDK7B-AFSP5-NAFV2&referer=myapp" style="display:none">
</iframe> 

<script type="text/javascript">
    var cur_place = '0';
    $(function(){
        $("#mapPage").attr('width',window.screen.width);
        $("#mapPage").attr('height',window.screen.height);
    })
    window.addEventListener('message', function(event) {
        // 接收位置信息，用户选择确认位置点后选点组件会触发该事件，回传用户的位置信息
        var loc = event.data;
        if (loc && loc.module == 'locationPicker') {//防止其他应用也会向该页面post信息，需判断module是否为'locationPicker'
            if(cur_place == '0') {
                if(loc.poiname != '我的位置') {
                    departure_city = loc.cityname;
                    departure_station = loc.poiname;
                    $("#departure_station").val(loc.cityname.trim('市','right')+'-'+loc.poiname);
                }
                $("#lng").val(loc.latlng.lng);
                $("#lat").val(loc.latlng.lat);
            } else if (cur_place == '1') {
                if(loc.poiname != '我的位置') {
                    terminal_city = loc.cityname;
                    terminal_station = loc.poiname;
                    $("#terminal_station").val(loc.cityname.trim('市','right')+'-'+loc.poiname);
                }
            }
            $("#mapPage").hide();
            $("#main_panel").show();
        }                                
    }, false); 
    function sel_departure_place() {
        cur_place = '0';
        $("#main_panel").hide();
        $("#mapPage").show();
    }
    function sel_terminal_place() {
        cur_place = '1';
        $("#main_panel").hide();
        $("#mapPage").show();
    }
</script>

{if $conf['pin_departure_station_mode']=='1'}
<div id="departure_station_panel" style="display:none;z-index:999;position: fixed;top:0px;min-height: 100%;width:100%;background-color: white">
    <header class="mui-bar mui-bar-nav">
        <a class="mui-icon mui-icon-arrowleft" href="javascript:cancel_departure_station_sel()"></a>
        <h1 class="mui-title">选择出发站</h1>
    </header>
    <div style="height:50px"></div>
    <div>
        {loop $departure_station $index $item}
            <div style="margin:5px 10px;border:1px grey solid;border-radius: 3px;padding:5px" onclick="sel_departure_station_confirm('{$item['name']}')">
                <span class="mui-icon mui-icon-checkmarkempty"></span>&nbsp;{$item['name']}
            </div>
        {/loop}
    </div>
</div>
<script>
function cancel_departure_station_sel() {
    $("#departure_station_panel").hide();
    $("#main_panel").show();
}
function sel_departure_station_confirm(name) {
    $("#departure_station").val(name);
    $("#departure_station_panel").hide();
    $("#main_panel").show();
}
</script>
{/if}

{if $conf['pin_terminal_station_mode']=='1'}
<div id="terminal_station_panel" style="display:none;z-index:999;position: fixed;top:0px;min-height: 100%;width:100%;background-color: white">
    <header class="mui-bar mui-bar-nav">
        <a class="mui-icon mui-icon-arrowleft" href="javascript:cancel_terminal_station_sel()"></a>
        <h1 class="mui-title">选择终点站</h1>
    </header>
    <div style="height:50px"></div>
    <div>
        {loop $terminal_station $index $item}
            <div style="margin:5px 10px;border:1px grey solid;border-radius: 3px;padding:5px" onclick="sel_terminal_station_confirm('{$item['name']}')">
                <span class="mui-icon mui-icon-checkmarkempty"></span>&nbsp;{$item['name']}
            </div>
        {/loop}
    </div>
</div>
<script>
function cancel_terminal_station_sel() {
    $("#terminal_station_panel").hide();
    $("#main_panel").show();
}
function sel_terminal_station_confirm(name) {
    $("#terminal_station").val(name);
    $("#terminal_station_panel").hide();
    $("#main_panel").show();
}
</script>
{/if}

<script>
function tankuang(pWidth,content) {    
    $("#msg").remove();
    var html ='<div id="msg" style="position:fixed;bottom:30px;width:100%;height:30px;line-height:30px;margin-top:-15px;z-index:1000"><p style="background:#000;opacity:0.8;width:'+ pWidth +'px;color:#fff;text-align:center;padding:10px 10px;margin:0 auto;font-size:12px;border-radius:4px;">'+ content +'</p></div>'
    $("body").append(html);
    var t=setTimeout(next,2000);
    function next() {
        $("#msg").remove();
    }
}
</script>