<?php
$this->qc_template_mobile('header');
?>
<style>
.head{
	line-height: 40px;
	background-color: #FEB930;
	color:white;
	font-weight: bold
}
.item {
	margin:0px 10px;
	border:1px #E0E0E0 solid;
	padding:8px 5px;
	font-size:12px;
}
.item_border_top_0 {
	border-top:0px;
}
.item_content {
	height:20px;
}
.item_1 {
	color: grey;
	border-right:1px #E0E0E0 solid;
	width:60px;
	line-height: 20px
}
.item_2_0 {
	position: relative;
	top:-20px;
	margin-left:60px;
	margin-right:40px;
}
.item_2_1 {
	position: relative;
	top:-20px;
	margin-left:60px;
}
.item_2_2 {
	position: relative;
	top:-20px;
	margin-left:60px;
	margin-right:50px;
}
.item_3_0 {
	position: relative;
	top:-40px;
	margin:0px 0px 0px auto;
	width:40px;
	text-align: right;
	margin-right:10px;
	line-height: 20px
}
.item_3_1 {
	position: relative;
	top:-40px;
	margin:0px 0px 0px auto;
	width:50px;
	line-height: 20px;
	color:#E0E0E0;
}
</style>
{if empty($owner)}
	<div style="margin-top:50px;width:100%;text-align: center">
		<span style="color:red"><i class="fa fa-info-circle"></i></span>&nbsp;请先完善车主信息，再发布拼车信息！
	</div>
	<div style="margin:20px 10px">
		<button type="button" class="mui-btn mui-btn-block" style="background-color: {$conf['owner_color']};color:white" onclick="location.href='{php echo $this->createMobileurl('owner_info')}'">立即完善</button>
	</div>
{else}
<div style="height:30px"></div>
<form action="" method="POST">
	<div class="item">
		<div class="item_content">
			<div class="item_1">
					车&nbsp;&#12288;&nbsp;辆
			</div>
			<div class="item_2_1">
				<input value="{$owner['car_color']} {$owner['car_number_1']}{$owner['car_number_2']}{$owner['car_number_3']} {$owner['car_series']}" style="height:20px;width:100%;border:0px;padding:0px 10px" />
			</div>
		</div>
	</div>
	<div style="height:10px"></div>
	<div class="item">
		<div class="item_content">
			<div class="item_1">
				出&nbsp;发&nbsp;站
			</div>
			<div class="item_2_1">
				<input id="departure_station" value="{$latest_pin['departure_station']}" name="departure_station" style="height:20px;width:100%;border:0px;padding:0px 10px" placeholder="请输入出发站" >
			</div>
		</div>
	</div>
	<div style="height:10px"></div>
	<div class="item">
		<div class="item_content">
			<div class="item_1">
				终&nbsp;点&nbsp;站
			</div>
			<div class="item_2_1">
				<input id="terminal_station" value="{$latest_pin['terminal_station']}" name="terminal_station" style="height:20px;width:100%;border:0px;padding:0px 10px" placeholder="请输入出发站" >
			</div>
		</div>
	</div>
	<div style="height:10px"></div>
	<div class="item">
		<div class="item_content">
			<div class="item_1">
				人&nbsp;&#12288;&nbsp;数
			</div>
			<div class="item_2_1">
				<input id="passenger_count" value="{$latest_pin['passenger_count']}" name="passenger_count" style="height:20px;width:100%;border:0px;padding:0px 10px" placeholder="请输入拼车人数" >
			</div>
		</div>
	</div>
	<div style="height:10px"></div>
	<div class="item">
		<div class="item_content">
			<div class="item_1">
				发车时间
			</div>
			<div class="item_2_1">
				<input id="departure_time" name="departure_time" style="height:20px;width:100%;border:0px;padding:0px 10px" placeholder="请选择发车时间" readonly>
			</div>
		</div>
	</div>
	<link rel="stylesheet" href="{$_W['siteroot']}app/resource/components/datepicker/mui.picker.all.css" />
	<script type="text/javascript" src="{$_W['siteroot']}app/resource/components/datepicker/mui.picker.all.js"></script>
	<script>
		$("input[name='departure_time']").click(function(){
			var today = new Date();
			var year = today.getFullYear();
		　　var dtPicker = new mui.DtPicker({
				beginYear: year,//设置开始日期 
    			endYear: year+1,//设置结束日期
    			beginMonth:4,
    			endMonth:4
			}); 
			dtPicker.show(function (selectItems) { 
				var str_time = selectItems.y.value+"/"+selectItems.m.value+"/"+selectItems.d.value+" "+selectItems.h.value+":"+selectItems.i.value;
				var sel_date = new Date(str_time);
				var timestamp = Date.parse(sel_date);
				var now = Date.parse(today);
				if(timestamp < now) {
					mui.alert("出行时间已过，请重新选择！");
				} else if (timestamp > ({$conf['max_day_to_release']}*24*60*60*1000+now)) {
					mui.alert("只能发布{$conf['max_day_to_release']}天以内的拼车，谢谢您的配合！");
				} else {
					$("input[name='departure_time']").val(str_time);
				}
			})
		})
	</script>
	<div style="height:10px"></div>
	<div class="item">
		<div class="item_content">
			<div class="item_1">
				登车地点
			</div>
			<div class="item_2_2">
				<input id="boarding_place" value="{$latest_pin['boarding_place']}" name="boarding_place" style="height:20px;width:100%;border:0px;padding:0px 10px" placeholder="请输入登车地点" >
			</div>
		</div>
	</div>
	{if $conf['pin_release_need_mode'] == '1'}
		<div style="height:10px"></div>
		<div class="item">
			<div class="item_content">
				<div class="item_1">
					模&nbsp;&#12288;&nbsp;式
				</div>
				<div class="item_2_1">
					<select id="mode" name="mode" style="height:20px;width:100%;border:0px;padding:0px 10px">
						<option value="请选择">请选择</option>
						<option {if $latest_pin['mode']=='全程高速'}{/if} value="全程高速">全程高速</option>
						<option {if $latest_pin['mode']=='高速优先'}{/if} value="高速优先">高速优先</option>
						<option {if $latest_pin['mode']=='不走高速'}{/if} value="不走高速">不走高速</option>
						<option {if $latest_pin['mode']=='少收费'}{/if} value="少收费">少收费</option>
					</select>
				</div>
			</div>
		</div>
	{/if}
	{if $conf['pin_release_need_mode'] == '1'}
		<div style="height:10px"></div>
		<div class="item">
			<div class="item_content">
				<div class="item_1">
					价&nbsp;&#12288;&nbsp;格
				</div>
				<div class="item_2_1">
					<input id="price" value="{$latest_pin['price']}" name="price" style="height:20px;width:100%;border:0px;padding:0px 10px" placeholder="请输入拼车价格" >
				</div>
			</div>
		</div>
	{/if}
	<div style="height:10px"></div>
	<div class="item">
		<div class="item_content">
			<div class="item_1">
				线&nbsp;&#12288;&nbsp;路
			</div>
			<div class="item_2_1">
				<input id="line" value="{$latest_pin['line']}" name="line" style="height:20px;width:100%;border:0px;padding:0px 10px" placeholder="请输入线路" >
			</div>
		</div>
	</div>
	<div style="height:10px"></div>
	<div class="item">
		<div class="item_content">
			<div class="item_1">
				备&nbsp;&#12288;&nbsp;注
			</div>
			<div class="item_2_1">
				<input id="note" name="note" style="height:20px;width:100%;border:0px;padding:0px 10px" placeholder="请输入备注" >
			</div>
		</div>
	</div>
	<div style="margin:10px">
		<input type="button" class="btn btn-default btn-block" onclick="release()" style="background-color: {$conf['owner_color']};color:white;border:1px #54BCDE solid;border-radius: 0px" value="发布">
	</div>
	<div style="height:50px"></div>
</form>
<script>
function release() {
	if($("#departure_station").val() == '') {
		alert("请输入出发站！");
		$("#departure_station").focus();
	} else if($("#terminal_station").val() == '') {
		alert("请输入目的站！");
		$("#terminal_station").focus();
	} else if($("#passenger_count").val() == '') {
		alert("请输入可乘人数！");
		$("#passenger_count").focus();
	} else if($("#departure_time").val() == '') {
		alert("请选择出发时间！");
		$("#departure_time").focus();
	} else if($("#boarding_place").val() == '') {
		alert("请输入登车地点！");
		$("#boarding_place").focus();
	} else if($("#mode").val() == '请选择') {
		alert("请选择行车模式！");
		$("#mode").focus();
	} else {
		$.post("{php echo $this->createMobileurl('release',array('op'=>'release_submit'))}",{
				departure_station:$("#departure_station").val(),
				terminal_station:$("#terminal_station").val(),
				passenger_count:$("#passenger_count").val(),
				departure_time:$("#departure_time").val(),
				boarding_place:$("#boarding_place").val(),
				mode:$("#mode").val(),
				price:$("#price").val(),
				line:$("#line").val(),
				note:$("#note").val(),
			},function(resp) {
				resp = $.parseJSON(resp);
				if(resp.message.errno == 0) {
					alert("发布成功！");
					location.href="{php echo $this->createMobileurl('owner_pin')}";
				}
			}
		);
	}
}
</script>
{/if}
<style>
.nav_item {
	color:grey;
	text-align: center
}
.nav_item_active {
	color:#54BCDE;
}
</style>
<div style="position: fixed;bottom:0px;height:50px;background-color: #F7F7F7;width:100%">
    <div class="nav_item" style="width:80px;height:50px;border-top:1px #ACACAC solid;margin:0px auto 0px 0px" onclick="location.href='{php echo $this->createMobileurl('owner_index')}'">
        <div style="font-size:20px;padding-top:5px"><i class="fa fa-home"></i></div>
        <div style="font-size:12px">首页</div>
    </div>
    <div style="height:50px;margin:-50px 80px 0px 80px;line-height: 50px;background-color: #54BCDE;color:white;text-align: center;border-top:1px #54BCDE solid">
        发布车找人
    </div>
    <div class="nav_item" style="width:80px;margin:-50px 0px 0px auto;height:50px;border-top:1px #ACACAC solid" onclick="location.href='{php echo $this->createMobileurl('owner')}'">
        <div style="font-size:20px;padding-top:5px"><i class="fa fa-user"></i></div>
        <div style="font-size:12px">司机中心</div>
    </div>
</div>
<div style="position:fixed; bottom:55px;left:5px;width:50px;height:50px;border-radius: 25px;background-color: {$conf['color']};color:white;text-align: center;font-size:12px;line-height: 50px" onclick="location.href='{php echo $this->createMobileurl('index')}'">
    <i class="fa fa-send"></i>乘客
</div>